@import "tailwindcss";

@theme {
  --color-bg-dark: #050505;
  --color-bg-light: #F5F5F0;
  --color-text-light: #F5F5F0;
  --color-text-dark: #050505;
  --color-accent: #FF3333;
  --color-muted: #858585;
  --font-display: "Syne", sans-serif;
  --font-body: "Inter", sans-serif;
}

@layer base {
  body {
    @apply font-body bg-[#050505] text-[#F5F5F0] overflow-x-hidden;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-display tracking-tight;
  }
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px #F5F5F0;
    color: transparent;
  }
  
  .text-outline-accent {
    -webkit-text-stroke: 1px #FF3333;
    color: transparent;
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
